<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/html_head :: html_head">

<body>

<div th:replace="fragments/html_nav :: html_nav"></div>

<div class="container-fluid content">
    <div class="container ">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Add a new Product</h5>
            <div class="card">
                <div class="card-body" style="background:black;!important">
                    <form th:action="@{/admin/products/add}" method="post" th:object="${productDTO}" enctype="multipart/form-data">
                        <input type="hidden" name="id"  th:field="*{id}">
                        <div class="mb-3">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
                            <span th:if="${error}" th:text="${error}" class="error text-danger"></span>
                            <br>
                            <label for="name">Name</label>
                            <input type="text" class="form-control form-control-lg bg-white" required th:field="*{name}" name="name" id="name"  placeholder="Enter name">
                        </div>
                        <div class="mb-3">
                            <label for="category">Category</label>
                            <select class="form-control" th:field="*{categoryId}" id="category" name="category">
                                <option th:each="category :${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-success mt-2" type="button" data-toggle="modal" data-target="#addCategoryModal">
                                    Add New Category
                                </button>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="price">Price</label>
                            <input type="number" class="form-control form-control-lg bg-white" required th:field="*{price}" name="price" id="price"
                                   placeholder="Price">
                        </div>
                        <div class="mb-3">
                            <label for="stockQuantity">Stock Quantity:</label>
                            <input type="number" class="form-control form-control-lg bg-white" id="stockQuantity" th:field="*{stockQuantity}" required />
                        </div>

                        <div class="mb-3">
                            <label for="description">Product Description</label>
                            <textarea class="form-control form-control-lg bg-white" rows="5" th:field="*{description}" name="description" id="description"></textarea>
                        </div>
                        <input type="text" name="imgNames" id="imgNames" hidden /> <!-- Add a hidden input field for imgNames -->

                        <div class="mb-3">
                            <p>Product Images</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="productImages" accept="image/jpeg, image/png" multiple id="productImages"/>
                                <label class="custom-file-label" for="productImages">Choose files</label>
                            </div>
                            <!-- Display image previews for each selected image -->
                            <div class="form-group">
                                <div class="row" id="imagePreviews">
                                    <!-- Individual image previews will be displayed here -->
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Add Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add Category Form -->
                <form th:action="@{/admin/categories/addproducts}" method="post" >
                    <div class="form-group">
                        <label for="newCategoryName">Category Name</label>
                        <input type="text" class="form-control" id="newCategoryName"  required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/html_footer :: html_footer"></div>
<div th:replace="fragments/js_links :: js_links"></div>

 <!--   <script>
    function readURL(input) {
        if (input.files && input.files.length) {
            $('#imagePreviews').empty(); // Clear previous previews

            for (var i = 0; i < input.files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviews').append(
                        '<div class="col-md-3">' +
                        '<img src="' + e.target.result + '" width="100" height="100" class="img-thumbnail">' +
                        '</div>'
                    );
                };
                reader.readAsDataURL(input.files[i]);
            }
        }
    }

    $('#productImages').change(function () {
        readURL(this);
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });




</script>-->
<script>
    const openModalBtn = document.getElementById('openModalBtn');
openModalBtn.addEventListener('click', () => {
  const modal = document.getElementById('addCategoryModal');
  modal.setAttribute('aria-hidden', 'false');
});
</script>

</body>
</html>