<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/html_head :: html_head">

<body>
<div th:replace="fragments/html_nav :: html_nav"></div>


         <div class="content container">
             <div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today sales</p>
                                <h6 class="mb-0" th:text="'₹ '+${todayrevenue}">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-users fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total User</p>
                                <h6 th:text="${totalUsers}" class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Order</p>
                                <h6 th:text="${totalOrders}" class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0" th:text="'₹ '+${totalrevenue}">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4 mh-100">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Maintain Stock</h6>
                                <a th:href="@{/admin/stockmanagement}">Show All</a>
                            </div>
                            <div>
                                <table class="table text-start align-middle table-bordered  mb-0">
                                    <thead>
                                    <tr>
                                    <th>Product</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pro, stat: ${lowStockProducts}" th:if="${stat.count <= 3}">
                                        <td th:text="${pro.name}"></td>
                                        <td class="text-danger" th:text="${pro.stockQuantity}"></td>
                                        <td th:text="${pro.subCategory.name}"> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>

                            </div>
                            <div class="mb-3">
                                <a th:href="@{/admin/sales/download/{id}(id=1)}">Todays sales report</a><br>
                            </div>
                            <div class="mb-3">
                                <a th:href="@{/admin/sales/download/{id}(id=2)}">This month sales report</a><br>
                            </div>
                            <div class="mb-3">
                                <a th:href="@{/admin/sales/download/{id}(id=3)}">This Year sales report</a><br>
                            </div>
                            <div class="mb-3">
                                <a th:href="@{/admin/sales/download}"></a><br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Salse</h6>
                        <a th:href="@{/admin/orderManage}">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered  mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Date</th>
                                    <th scope="col">Invoice</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${recentOrders}">
                                    <td th:text="${order.getFormattedOrderDate()}">01 Jan 2045</td>
                                    <td >
                                        <a th:href="@{/user/orders/invoice/{orderId}(orderId=${order.id})}">Invoice</a>
                                    </td>
                                    <td th:text="${order.user.name}">Jhon Doe</td>
                                    <td class="text-right" th:text="${order.totalAmount}"> $123</td>
                                    <td >
                                        <p th:class="${order.status.name == 'CANCELED' or order.status.name == 'RETURN'} ? 'text-danger' : 'text-success'"
                                           th:text="${order.status}"></p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


                 <div class="container-fluid pt-4 px-4">
                     <div class="bg-secondary text-center rounded p-4">
                         <div class="d-flex align-items-center justify-content-between mb-4">
                             <h6 class="mb-0">Salse Graph</h6>

                         </div>
                         <div class="table-responsive">
                             <div id="linechart" style="width: 1050px; height: 500px;"></div>
                         </div>
                     </div>
                 </div>



                 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                 <script type="text/javascript" th:inline="javascript">
                     google.charts.load('current', {'packages':['corechart']});
                     google.charts.setOnLoadCallback(drawChart);

                     function drawChart() {
                       var data = new google.visualization.DataTable();
                       data.addColumn('date', 'Date');
                       data.addColumn('number', 'Total');
                       [[${dailyTotals}]].forEach(function(row) {
                         data.addRow([new Date(row.date), row.total]);
                       });

                       var options = {
                         title: 'Monthly Revenue',
                         curveType: 'linear',
                         legend: { position: 'bottom' }
                       };

                       var chart = new google.visualization.LineChart(document.getElementById('linechart'));

                       chart.draw(data, options);
                     }
                 </script>

            <!-- Footer Start -->
     <div th:replace="fragments/html_footer :: html_footer"></div>


    <!-- JavaScript Libraries -->
    <div th:replace="fragments/js_links :: js_links"></div>
</body>

</html>