<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/html_head :: html_head">

<body style="color:white;!important">
<div th:replace="fragments/html_nav :: html_nav"></div>
<div class="container content">
<a th:href="@{/admin/product/add}" style="margin: 20px 0" class="btn btn-primary">Add Product</a>

<!--        Categories Table Starts         -->

<div class="table-responsive rounded-2 mb-4 ">
    <table class="table table-bordered border-primary table-striped table-responsive-md">
        <thead class="text-dark fs-4">
        <tr>
            <th><h6 class="fs-4 fw-semibold mb-0">SN</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Product Name</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Category</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">View More Details</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Preview</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Update</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Delete</h6></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iStat : ${products}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${product.name}"></td>
            <td>
                <div th:if="${product.subCategory != null}">
                    <p><span th:text="${product.subCategory.name}"></span></p>
                </div>
            </td>
            <!--                        <td th:text="${product.stockQuantity}">Larry</td>-->
            <td>
                <a th:href="@{/admin/products/details/{productId}(productId = ${product.id})}">View Details</a>
            </td>
            <td>
                <!-- Loop through and display all images for the product -->
                <div th:each="image : ${product.images}">
                    <img src="" height="50px" width="50px" th:src="${'https://firstcart-s3.s3.eu-north-1.amazonaws.com/'+image.imageName}">
                </div>
            </td>


            <td><a href="" th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning">Edit</a></td>
            <td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a></td>

        </tr>

        </tbody>
    </table>
</div>
</div>

<div th:replace="fragments/html_footer :: html_footer"></div>
<div th:replace="fragments/js_links :: js_links"></div>
</body>
</html>