<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/html_head :: html_head">

<body>
<div th:replace="fragments/html_nav :: html_nav"></div>
            <!--list of users-->
        <div class="content container">
            <div class="">
                <h1>USER DATA</h1>
                <form th:action="@{/admin/searchuser}" method="get">
                    <div class="input-group mb-3">
                        <input type="search" name="query" class="form-control rounded" style="background:white;" th:placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-primary">search</button>
                    </div>
                </form>
            </div>
            <div >
                <table class="table table-bordered border-primary table-striped table-responsive-md">
                    <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th>ROLE</th>
                    <th>STATUS</th>
                    </thead>
                    <tbody>
                    <tr th:each="users : ${userdata}">
                        <td th:text="${users.id}"></td>
                        <td th:text="${users.name}"></td>
                        <td th:text="${users.email}"></td>
                        <td th:text="${users.phone}"></td>
                        <td th:text="${users.role}"></td>

                        <td>
                            <form th:action="@{'/admin/blockuser/'+${users.id}}" th:if="${!users.blocked}" method="post">
                                <button type="submit"   class="btn btn-success">Block</button>
                            </form>

                            <form th:action="@{'/admin/unblockuser/'+${users.id}}" th:if="${users.blocked}" method="post">
                                <button type="submit"   class="btn btn-danger">UnBlock</button>
                            </form>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>




        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

<!-- Footer Start -->
<div th:replace="fragments/html_footer :: html_footer"></div>
<!-- Footer End -->

    <!-- JavaScript Libraries -->
<div th:replace="fragments/js_links :: js_links"></div>
</body>

</html>