<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <div class="container py-5" style="padding-top:15vh;">
        <div class="row">
            <!--side panel goes here-->
            <div th:replace="fragments/cart_profile :: cart_profile"></div>

            <div class="col-lg-8">
                <a th:href="@{/user/profile/address/add}" class="btn btn-primary">ADD NEW</a>
                <div class="row mt-3">

                    <div th:each="address : ${user.addresses}" class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${address.fullName}">Address Title</h5>
                                <p class="card-text">
                                    <span th:text="${address.mobile}">Zip</span><br>
                                    <span th:text="${address.houseNo}">Street</span>,<br>
                                    <span th:text="${address.street}">City</span>,<br>
                                    <span th:text="${address.city}">State</span>
                                    <span th:text="${address.pinCode}">Zip</span>

                                </p>
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>

<div th:replace="fragments/cart_js :: cart_js"></div>
</body>
</html>