<!DOCTYPE html>
<html
      lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                <p class="mb-5 text-center">
                    <i class="text-info font-weight-bold"></i><span th:text="${cartCount}">2</span> items in your cart</p>
                <th:block th:if="${session.msg}">
                    <p class="text-center text-danger" style="font-size: 18px;">[[${session.msg}]]</p>
                    <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th style="width:60%">Product</th>
                        <th style="width:12%">Price</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:16%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iStat : ${cartItems}">
                        <td data-th="Product" >
                            <div class="row" >
                                <div class="col-md-5 text-left">
                                    <a th:href="@{/user/viewproduct/{id}(id=${item.product.id})}">
                                        <img th:src="${'https://firstcart-s3.s3.eu-north-1.amazonaws.com/'+item.product.images[0].imageName}"
                                             th:alt="${item.product.name}" class="card-img-top rounded-0" alt="..." src=""
                                        style="width:200px;height:200px;">
                                    </a>
                                </div>
                                <div class="col-md-5 text-left mt-sm-2">
                                    <h4 th:text="${item.product.name}">Product Name</h4>
                                    <p class="font-weight-light">Brand Name</p>
                                </div>
                            </div>
                        </td>
                        <td class="text-success" th:text="${'₹ '+@productService.getOfferPrice(item.product.id)}"></td>
                        <td data-th="Quantity">
                            <a th:href="@{/user/cart/minusqty/{id}(id=${item.id})}" class="btn "><i class="fa fa-minus me-2"></i></a>
                            <span th:text="${item.quantity}"></span>
                            <a th:href="@{/user/cart/addqty/{id}(id=${item.id})}" class="btn "><i class="fa fa-plus me-2"></i></a>
                        </td>
                        <td class="actions" data-th="">
                            <div class="text-right">
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fa fa-sync"></i>
                                </button>
                                <a class="btn btn-white border-secondary bg-white btn-md mb-2" th:href="@{/user/cart/delete/{id}(id=${item.id})}"
                                   th:data-confirm-block="|Are you sure you want to block ${item.product.name}?|"
                                   onclick="if (!confirm(this.getAttribute('data-confirm-block'))) return false">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="float-right text-right" th:if="${cartCount != 0}">
                    <h4>Subtotal:</h4>
                    <h1 class="text-success" th:text="'₹ ' + ${total}">99.00</h1>

                        <a th:href="@{/user/checkout}" class="btn btn-success mb-4 btn-lg pl-5 pr-5">Checkout</a>

                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">


                <a th:href="@{/user/home}" class="btn btn-success">
                    <i class="fa fa-arrow-left me-2"></i> Continue Shopping</a>

        </div>
    </div>
</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>
<div th:replace="fragments/cart_js :: cart_js"></div>
</body>
</html>