<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <div class="container py-5"style="padding-top:15vh;">
        <div class="row">
            <!--side panel goes here-->
            <div th:replace="fragments/cart_profile :: cart_profile"></div>
            <div class="col-lg-8">
                <div class="row mt-3">
                    <form id="changepassword">
                        <label>Current Password</label>
                        <div class="form-group pass_show">
                            <input type="password" value="faisalkhan@123" class="form-control" placeholder="Current Password">
                        </div>
                        <label>New Password</label>
                        <div class="form-group pass_show">
                            <input type="password" value="faisal.khan@123" class="form-control" placeholder="New Password">
                        </div>
                        <label>Confirm Password</label>
                        <div class="form-group pass_show">
                            <input type="password" value="faisal.khan@123" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="d-flex justify-content-center  col-md-2 "style="margin-top:5px;">
                            <button type="submit"
                                    class="btn btn-success  text-white">UPDATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>
</body>
</html>