<!DOCTYPE html>
<html
		lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">
	<body>
<div th:replace="fragments/cart_header :: cart_header"></div>



		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<th:block th:if="${session.msg}">
				<p class="text-center text-success" style="font-size: 18px;">[[${session.msg}]]</p>
				<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
			</th:block>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Shipping address</h3>
							</div>
							<!--<table class="table border-none table-striped table-responsive-md">
								<thead>
								<tr>
									<th></th>
									<th></th>

								</tr>
								</thead>
								<tbody>
								<tr th:each="address : ${user.addresses}">
									<td>
										<div th:if="${address.defaultAddress}">
											<i class="fa fa-home" style="color: #71bd00;"></i>
										</div>
									</td>
									<td><div th:if="${address.defaultAddress}">
										<h4 th:text="${address.fullName}"></h4>
										<p th:text="${address.mobile}"></p>
										<span th:text="${address.houseNo}">,</span>
										<span th:text="${address.street}"></span><br>
										<span th:text="${address.city}">   </span>
										<span th:text="${address.pinCode}"></span><br>
										<span th:text="${address.state}">   </span>
										<span th:text="${address.country}"></span><br>
									</div>
									</td>
								</tr>
								</tbody>
							</table>-->
							<form id="orderform" th:action="@{/user/placeorder}" method="post">
							<div class="form-group">
								<label for="savedAddresses">Select Address:</label>
								<select id="savedAddresses" name="selectedAddressId" class="form-control">
									<option value="">Select an Address</option>
									<option th:each="address : ${address}"
											th:value="${address.id}"
											th:text="${address.fullName + ', ' + address.mobile + ', ' + address.houseNo + ', ' + address.street + ', ' + address.city + ', ' + address.state + ', ' + address.pinCode + ', ' + address.country}"
											th:selected="${address.defaultAddress}"></option>
								</select>
							</div>
							<div class="" th:if="${#lists.isEmpty(user.addresses)}">
								<p>Address Not Avilable . Please Add Address</p>
							</div>
							<div class="form-group">
								<a class="btn btn-success" th:href="@{/user/profile/address/add(fromCheckout=true)}">Add New</a>
							</div>
						   </div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">

						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">

						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products" th:each="item : ${cartitem}">
								<div class="order-col">
									<div>
										<span th:text="${item.quantity}"></span> X <span th:text="${item.product.name}"></span>
									</div>
									<div th:text="${item.product.price*item.quantity}">$980.00</div>
								</div>
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong th:text="'₹ ' + ${deliveryCharge}">FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total" th:text="'₹ ' + ${total}">$2940.00</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="paymentMethod" id="onlinepayment" value="Online Payment">
								<label for="onlinepayment">
									<span></span>
									Online Payment
								</label>
								<!--<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>-->
							</div>
							<div class="input-radio">
								<input type="radio"  name="paymentMethod" id="cashondelivery" value="Cash On Delivey">
								<label for="cashondelivery">
									<span></span>
									Cash On Delivery
								</label>
								<!--<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>-->
							</div>

						</div>

						<button type="submit" class="primary-btn order-submit">Place order</button>
					</div>
					</form>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

<div th:replace="fragments/cart_footer :: cart_footer"></div>
<div th:replace="fragments/cart_js :: cart_js"></div>


	</body>
</html>
