<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <div class="container py-5"style="padding-top:15vh;">
        <div class="row">
            <!--side panel goes here-->
            <div th:replace="fragments/cart_profile :: cart_profile"></div>
            <div class="col-lg-8">
                <div class="row mt-3">
                    <th:block th:if="${session.msg}">
                        <p class="text-center text-success">[[${session.msg}]]</p>
                        <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                    <form id="editform" method="post" th:action="@{/user/saveuser}">
                        <input type="hidden" name="id"  th:field="${user.id}">
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" th:field="${user.name}" class="form-control" name="name" placeholder="enter Your Name" value=""></div>
                    <div class="col-md-12"><label class="labels">Phone</label><input type="text" th:field="${user.phone}" class="form-control" name="phone" placeholder="enter Phone Number" value=""></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" th:field="${user.email}" class="form-control" name="email" placeholder="enter Email Id" value=""></div>

                    <div class="d-flex justify-content-center  col-md-2 "style="margin-top:5px;">
                        <button type="submit"
                                class="btn btn-success  text-white">UPDATE</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>
<div th:replace="fragments/cart_js :: cart_js"></div>
</body>
</html>