<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Your Orders</h3>


                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th style="width:60%"></th>
                        <th style="width:12%"></th>
                        <th style="width:10%"></th>
                        <th style="width:16%"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tbody th:each="order : ${orders}">
                    <tr >
                        <td colspan="5">Order #<span th:text="${order.id}"></span></td>
                    </tr>
                    <tr th:each="item : ${order.orderItems}">
                        <td><div class="row" >
                            <div class="col-md-5 text-left">
                                <a th:href="@{/user/order/orderview/{id}(id=${order.id})}">
                                    <img th:src="${'https://firstcart-s3.s3.eu-north-1.amazonaws.com/'+item.product.images[0].imageName}"
                                         th:alt="${item.product.name}" class="card-img-top rounded-0" alt="..." src=""
                                         style="width:100px;height:100px;">
                                </a>
                            </div>
                            <div class="col-md-5 text-left mt-sm-2">
                                <h4 th:text="${item.product.name}">Product Name</h4>
                                <p class="font-weight-light" th:text="${item.product.subCategory.name}">Brand Name</p>
                            </div>
                        </div>
                        </td>

                        <td th:text="${'₹ '+@productService.getOfferPrice(item.product.id)*item.quantity}">Product Price</td>
                        <td th:text="${item.quantity}">Quantity</td>
                        <td th:text="${order.status}" class="text-bold text-success">Order Status</td>
                    </tr>
                    <tr><td></td>
                        <td></td>
                        <td></td>
                        <td th:text="'Total  ₹ ' +${order.totalAmount}" ></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">


            <a th:href="@{/user/home}" class="btn btn-success">
                <i class="fa fa-arrow-left me-2"></i> Continue Shopping</a>

        </div>
    </div>
</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>
<div th:replace="fragments/cart_js :: cart_js"></div>
</body>
</html>