<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <div class="container padding-bottom-3x mb-1 mt-5">
        <div class="card mb-3">
            <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Tracking Order No - </span><span class="text-medium"th:text="${order.id}">34VB5540K83</span></div>

            <div class="card-body">
                <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                    <div class="step " th:classappend="${order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).SHIPPED ||
                      order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).OUT_FOR_DELIVERY ||
                      order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).CONFIRMED ||
                      order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).DELIVERED} ? 'completed' : ''">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-cart"></i></div>
                        </div>
                        <h4 class="step-title">Order Confirmed</h4>
                    </div>
                    <div class="step "
                         th:classappend="${order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).SHIPPED ||
                      order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).OUT_FOR_DELIVERY ||
                      order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).DELIVERED} ? 'completed' : ''">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-medal"></i></div>
                        </div>
                        <h4 class="step-title">Shipped</h4>
                    </div>
                    <div class="step" th:classappend="${order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).OUT_FOR_DELIVERY ||
                      order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).DELIVERED} ? 'completed' : ''">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-car"></i></div>
                        </div>
                        <h4 class="step-title">Out for Delivery</h4>
                    </div>
                    <div class="step" th:classappend="${order.status == T(com.firstcart_ecommerce.firstcart.util.OrderStatus).DELIVERED} ? 'completed' : ''">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-home"></i></div>
                        </div>
                        <h4 class="step-title">Product Delivered</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th style="width:60%"></th>
                        <th style="width:12%"></th>
                        <th style="width:10%"></th>
                        <th style="width:16%"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${order.orderItems}">
                        <td><div class="row" >
                            <div class="col-md-5 text-left">
                                <a th:href="@{/user/viewproduct/{id}(id=${item.product.id})}">
                                    <img th:src="${'https://firstcart-s3.s3.eu-north-1.amazonaws.com/'+item.product.images[0].imageName}"
                                         th:alt="${item.product.name}" class="card-img-top rounded-0" alt="..." src=""
                                         style="width:100px;height:100px;">
                                </a>
                            </div>
                            <div class="col-md-5 text-left mt-sm-2">
                                <h4 th:text="${item.product.name}">Product Name</h4>
                                <p class="font-weight-light" th:text="${item.product.subCategory.name}">Brand Name</p>
                            </div>
                        </div>
                        </td>

                        <td th:text="'₹ ' +${item.product.price*item.quantity}">Product Price</td>
                        <td th:text="${item.quantity}">Quantity</td>
                        <td th:text="${order.status}" class="text-bold text-success">Order Status</td>
                    </tr>
                    <tr>
                        <td>
                            <a  th:href="@{/user/orders/invoice/{orderId}(orderId=${order.id})}">Download Invoice</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td >
                           <a th:if="${order.status.name() != 'DELIVERED' and order.status.name() != 'CANCELED' and order.status.name() != 'RETURN'}"
                                   th:href="@{/user/order/cancel/{id}(id=${order.id})}" class="btn btn-success">Cancel</a>
                            <a th:if="${order.status.name() == 'DELIVERED'}"
                                    th:href="@{/user/order/return/{id}(id=${order.id})}" class="btn btn-success">Return</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-9">
                <h3>DELIVERY ADDRESS</h3><br>
                <h6 th:text="${address.fullName}"></h6>
                <span th:text="${address.mobile}"></span>
                <span th:text="${address.houseNo}">,</span>
                <span th:text="${address.street}"></span><br>
                <span th:text="${address.city}">   </span>
                <span th:text="${address.pinCode}"></span><br>
                <span th:text="${address.state}">   </span>
                <span th:text="${address.country}"></span><br>

            </div>
            <div class="col-md-3">
                <div class="order-col">
                    <div>Ordered On</div>
                    <div><strong th:text="${order.getFormattedOrderDate()}">FREE</strong></div>
                </div>
                <div class="order-col">
                    <div>Delivery Expected</div>
                    <div><strong th:text="${order.getDelivreyDate()}">FREE</strong></div>
                </div>

                <div class="order-products" th:each="item : ${order.orderItems}">
                    <div class="order-col">
                        <div>
                            <span th:text="${item.quantity}"></span> X <span th:text="${item.product.name}"></span>
                        </div>
                        <div th:text="${item.product.price*item.quantity}">$980.00</div>
                    </div>
                </div>
                <div class="order-col">
                    <div><strong>Shiping</strong></div>
                    <div><strong th:text="'₹ ' + ${deliveryCharge}">FREE</strong></div>
                </div>
                <div class="order-col">
                    <div><strong>TOTAL</strong></div>
                    <div><strong class="order-total" th:text="'₹ ' + ${order.totalAmount}">$2940.00</strong></div>
                </div>
                <div class="order-col">
                    <div><strong>PAYMENT METHOD</strong></div>
                    <div><strong class="order-total" th:text="${order.paymentMethod}">$2940.00</strong></div>
                </div>
            </div>
        </div>

    </div>

</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>

<div th:replace="fragments/cart_js :: cart_js"></div>
</body>
</html>