<!DOCTYPE html>
<html
      lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/cart_head :: cart_head">

<body>
<div th:replace="fragments/cart_header :: cart_header"></div>
<section style="background-color: #eee; min-height:100vh;">
    <div class="container py-5"style="padding-top:15vh;">
        <div class="row">
            <div th:replace="fragments/cart_profile :: cart_profile"></div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"th:text="${user.name}">Johnatan Smith</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${user.email}">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${user.phone}">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pl-3 ">
                    <br>
                    <h6>FAQs</h6>
                    <p>
                        What happens when I update my email address (or mobile number)?<br>
                        Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).<br><br>

                        When will my FirstCart account be updated with the new email address (or mobile number)?<br>
                        It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.<br><br>

                        What happens to my existing FirstCart account when I update my email address (or mobile number)?<br>
                        Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information and personal details.<br><br>

                        Does my Seller account get affected when I update my email address?<br>
                        FirstCart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/cart_footer :: cart_footer"></div>
</body>
</html>