<!-- NAVIGATION -->
<nav id="navigation" th:fragment="cart_nav">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a th:href="@{/user/bookcategories}">Categories</a></li>
        <li><a th:href="@{/user/store/{id}(id='2')}">Laptops</a></li>
        <li><a th:href="@{/user/store/{id}(id='1')}">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->