<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify OTP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<div class="col-md-3 mx-auto text-center">

    <img style="max-width: 200px; max-height: 100px;" src="/img/firstcartwhite.png" alt="">
    <h4>OTP VERIFICATION</h4>
</div>
<div class="col-md-4 mx-auto mt-5 p-5 bg-light">
    <form id="changepassword"  th:action="@{/forgotpassword/verifyOTP}" method="post">

        <label>OTP</label>
        <div class="form-group pass_show mt-3">
            <input type="password" th:name="otp" id="newPassword" class="form-control mb-3" placeholder="Enter OTP">
        </div>
        <div class="d-flex justify-content-center mx-auto  col-md-3 "style="margin-top:5px;">
            <button type="submit" onclick="return validateForm()"
                    class="btn btn-success  text-white">Verify OTP</button>
        </div >
        <div class="d-flex justify-content-center mx-auto  col-md-3 "style="margin-top:5px;">
            <a href="#" onclick="reloadPage()">Resend OTP</a>
        </div>
    </form>
</div>
<script>
    function reloadPage() {
    location.reload();
}
</script>
</body>
</html>