<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/val.css">
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<script src="/js/validation.js"></script>
<section class=" vh-100" style="background: rgb(2,0,36);
background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(255,0,0,1) 100%);">
    <div class="mask d-flex align-items-center h-100  gradient-custom">
        <div class="container h-100 ">
            <div class="row d-flex justify-content-evenly align-items-center h-100">
                <div class="header-logo pt-5 " style="max-width: 50%; max-height: 50%;">
                    <a th:href="@{/}" class="logo">
                        <img style="max-width: 350px; max-height: 350px;" src="/img/FirstCart.gif" alt="">
                    </a>
                </div>
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card mt-2 bg-dark" style="border-radius: 1rem;">
                        <div class="card-body  text-white p-5">
                            <h2 class="text-uppercase text-center mb-3">Create an account</h2>
                            <th:block th:if="${session.msg}">
                                <p class="text-center text-success">[[${session.msg}]]</p>
                                <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                            <div class="col-md-12">

                            <form  id="myForm" action=""  method="post" th:action="@{/sendOTP}" th:object="${user}"  >

                                <div class=" mb-3 ">
                                    <input type="text" id="name" name="name" th:field="*{name}"  class="form-control" />
                                    <label class="form-label" for="name">Your Name</label>
                                </div>


                                <div class=" mb-3">
                                    <input type="email" id="email"name="email" th:field="*{email}"  class="form-control " />
                                    <label class="form-label"  for="Email">Your Email</label>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="tel" id="phone"name="phone" required th:field="*{phone}"  class="form-control " />
                                    <label class="form-label"  >Your Phone</label>

                                </div>

                                <div class="form-outline mb-3">
                                    <input type="password" id="password" name="password" th:field="*{password}" class="form-control " />
                                    <label class="form-label"  for="Password">Password</label>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="password" id="confirm" name="conf" class="form-control " />
                                    <label class="form-label"  for="confirm">Re-enter Password</label>
                                </div>
                                <div class="form-outline mb-3">
                                    <input type="text" id="refferalCode" name="refferalCode"   class="form-control " />
                                    <label class="form-label" for="refferalCode">Do You Have Refferal Code ?</label>
                                </div>


                                <div class="d-flex justify-content-center">
                                    <button type="submit" id="submit-button" onclick="return validateForm()"
                                            class="btn btn-success btn-lg  text-white">Register</button>
                                </div>



                                <p class="text-center  mt-2 mb-0">Already a member of First Cart ? <a href="/login" class=" text-white-50 fw-bold"><u>Login here</u></a></p>

                            </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>